{% extends 'book/base.html' %}
{% load static %}
{% block title %} لیست کتاب‌ها {% endblock %}

{% block main %}

<div class="container my-5">
    <h2 class="my-4 text-center text-white">
        لیست کامل کتاب‌های موجود
    </h2>
    <hr class="mb-4">

    <div class="book-slider"> 
        
        {% for book in books %}

        <div class="book-slide-item">
            <div class="card h-100 shadow-lg border-0"> 
                
                {% if book.cover %}
                    <img src="{{ book.cover.url }}" class="card-img-top p-2" alt="{{ book.title }} cover" style="height: 200px; object-fit: contain;"> 
                {% else %}
                    <img src="{% static 'book/img/default_cover.jpg' %}" class="card-img-top p-2" alt="جلد پیشفرض" style="height: 200px; object-fit: contain;">
                {% endif %}

                <div class="card-body d-flex flex-column p-3"> 
                    <h6 class="card-title fw-bold text-primary mb-1">{{ book.title }}</h6>
                    <p class="card-text text-muted small">نویسنده: 
                        <span class="fw-medium">{{ book.author }}</span>
                    </p>
                    
                    {% if book.price %}
                    <p class="card-text fs-6 text-success mt-auto mb-2">قیمت: {{ book.price }} تومان</p>
                    {% endif %}
                    
                    <div class="mt-2">
                        <a href="{% url 'book_detail' id=book.id %}" class="btn btn-dark w-100 btn-sm"> 
                            <i class="fas fa-eye me-1"></i> مشاهده جزئیات
                        </a>
                    </div>
                </div>
                
                <div class="card-footer bg-light border-0 p-1"> 
                    <small class="text-muted small">تاریخ انتشار: {% if book.published_day %} {{ book.published_day }} {% else %} نامشخص {% endif %}</small>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock %}