{% extends 'book/base.html' %}
{% block title %}{{ book.title }} - خواندن کتاب{% endblock %}

{% block main %}
<div class="container my-4">
  <h2 class="text-center mb-4">{{ book.title }}</h2>
  <div class="pdf-viewer" style="height: 90vh;">
    <iframe src="{{ book.pdf_file.url }}" 
            width="100%" height="100%" 
            style="border:none;"
            allowfullscreen>
    </iframe>
  </div>
  <a href="{% url 'book_detail' id=book.id %}" class="btn btn-secondary mt-3">بازگشت</a>
</div>
{% endblock %}
